* {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Stile header */

header {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 100px;
}

.logo {
    width: 15%;
    margin-top: 2%;
}

/* Stile itestazione */

.intestazione {
    margin: 2% 0 2% 0;
}

.titolo_articolo {
    font-size: 250%;
}

.crediti {
    color: gray;
}

.autore {
    color: #4EA0FF;
}

.data {
    color: grey;
    font-size: 80%;
}

/* Stile sezione immagini dell'articolo */

.didascalia_prima_foto {
    font-size: 70%;
}

.didascalia_seconda_foto {
    font-size: 70%;
}

/* Stile corpo articolo */

.primo_paragrafo {
    margin: 2% 0 2% 0;
}

.testo_evidenziato {
    background-color: yellow;
}

.lista_lorem {
    margin: 2% 0 2% 0;
    padding: 1em;
}

/* Stile tabella */

table {
border-spacing: 0;
} 

.column_width {
    width: 50%;
}

.header_tabella {
    background-color: #20A9E5;
}

.riga_tabella_evidenziata {
    background-color: #B1E5F2;
}

/* Stile secondo paragrafo */

.secondo_paragrafo {
    margin: 2% 0 2% 0;
}

/* Stile footer */

.indicazione_correlati {
    font-size: 120%;
    font-weight: bold;
    color: gray;
}

.correlati {
    width: 250px;
    height: 200px;
    margin-top: 1%;
    background-size: contain;
}

#correlato_1 {
    background-image: url(../img/monitor.jpg);
    
}

#correlato_2 {
    background-image: url(../img/graph.jpg);
    margin-bottom: 1%;
}

.titolo_correlato {
    color: white;
    padding: 5%;
}