* {
    margin: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 100px;
}

.intestazione {
    margin: 2% 0 2% 0;
}

.logo {
    width: 15%;
}

.titolo_articolo {
    font-size: 250%;
}

.crediti {
    color: gray;
}

.autore {
    color: #4EA0FF;
}

.data {
    color: grey;
    font-size: 80%;
}